{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenSea API",
    "description": "The API for OpenSea",
    "contact": {
      "name": "OpenSea",
      "url": "https://www.opensea.io",
      "email": "contact@opensea.io"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.opensea.io",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chain Endpoints",
      "description": "Chain endpoints to discover supported blockchains and their capabilities"
    },
    {
      "name": "Account Endpoints",
      "description": "Account endpoints to retrieve OpenSea account profiles and resolve identifiers"
    },
    {
      "name": "Collection Endpoints",
      "description": "Collection endpoints to retrieve collection details, traits, and trending data"
    },
    {
      "name": "NFT Endpoints",
      "description": "NFT endpoints to retrieve individual NFTs, metadata, ownership, and rarity"
    },
    {
      "name": "Contract Endpoints",
      "description": "Contract endpoints to retrieve contract metadata and payment token details"
    },
    {
      "name": "Token Endpoints",
      "description": "Token endpoints for getting token details, balances, and trending data"
    },
    {
      "name": "Search Endpoints",
      "description": "Search endpoints for discovering collections, tokens, NFTs, and accounts"
    },
    {
      "name": "Listing Endpoints",
      "description": "Listing endpoints for creating, fulfilling, and querying listings"
    },
    {
      "name": "Offer Endpoints",
      "description": "Offer endpoints for building, creating, fulfilling, and querying offers"
    },
    {
      "name": "Order Endpoints",
      "description": "Order endpoints for looking up and canceling individual orders"
    },
    {
      "name": "Swap Endpoints",
      "description": "Swap endpoints for getting token swap quotes with executable transaction data"
    },
    {
      "name": "Drops Endpoints",
      "description": "Endpoints for discovering drops, checking mint eligibility, and building mint transactions"
    },
    {
      "name": "Analytics Endpoints",
      "description": "Analytics endpoints to retrieve events, stats, and trading data"
    },
    {
      "name": "Tool Endpoints [Beta]",
      "description": "[Beta] Tool endpoints for discovering and inspecting registered onchain tools. This API is under active development and may change without notice."
    },
    {
      "name": "Transaction Endpoints",
      "description": "Transaction endpoints for checking transaction receipts and status"
    }
  ],
  "paths": {
    "/api/v2/transactions/receipt": {
      "post": {
        "tags": ["Transaction Endpoints"],
        "summary": "Get transaction receipt",
        "description": "Get the receipt/status for a submitted transaction. Works for all transaction types including listing fulfillments, cross-chain buys, sweeps, offer fulfillments, and token swaps. Poll this endpoint after submitting transactions to check completion status.",
        "operationId": "get_transaction_receipt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction receipt retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tools/usage": {
      "post": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] Report tool usage (metrics only)",
        "description": "[Beta] Report verified tool usage for metrics and analytics purposes only. Supports verification_type: eip3009_authorization (free tools, identity proof) or x402_settlement (paid tools, onchain USDC payment verification). This endpoint does NOT trigger any onchain transactions. This endpoint is under active development and may change without notice.",
        "operationId": "report_tool_usage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolUsageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ToolUsageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tokens/batch": {
      "post": {
        "tags": ["Token Endpoints"],
        "summary": "Get tokens by contract identifiers",
        "description": "Retrieve multiple tokens in a single request by providing a list of contract identifiers (chain and address). Not-found tokens are silently omitted from the response.",
        "operationId": "get_tokens_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTokensRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/swap/execute": {
      "post": {
        "tags": ["Swap Endpoints"],
        "summary": "Execute a token swap",
        "description": "Get executable transactions for token-to-token swaps. Supports same-chain and cross-chain swaps with multiple from/to assets.",
        "operationId": "post_swap_execute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapExecuteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap execution data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwapExecuteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/{chain}/{protocol}/offers": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Create an item offer",
        "description": "Create an offer to purchase a single NFT (ERC721 or ERC1155).",
        "operationId": "post_offer",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeaportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Item offer created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/{chain}/{protocol}/listings": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Create a listing",
        "description": "List a single NFT (ERC721 or ERC1155) for sale on the OpenSea marketplace.",
        "operationId": "post_listing",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeaportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/chain/{chain}/protocol/{protocol_address}/{order_hash}/cancel": {
      "post": {
        "tags": ["Order Endpoints"],
        "summary": "Cancel an order",
        "description": "Offchain cancel a single order, offer or listing, by its order hash when protected by the SignedZone. Protocol and Chain are required to prevent hash collisions. Please note cancellation is only assured if a fulfillment signature was not vended prior to cancellation.",
        "operationId": "cancel_order",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "protocol_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Create a criteria offer",
        "description": "Create a criteria offer to purchase any NFT in a collection or which matches the specified trait. For trait offers where the Build Offer endpoint returns identifierOrCriteria '0', use that value directly — trait matching is validated server-side at fulfillment time rather than via onchain merkle proof.",
        "operationId": "post_criteria_offer_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferWithCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Criteria offer created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/fulfillment_data": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Fulfill an offer",
        "description": "Retrieve all the information, including signatures, needed to fulfill an offer directly onchain. For trait offers with identifierOrCriteria '0', the server validates that the specified token matches the offer's trait criteria before generating fulfillment data.",
        "operationId": "generate_offer_fulfillment_data_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullfillmentDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Offer fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid\nThe order_hash does not exist\nThe chain is not an EVM Chain\nThe protocol_address is not a supported Seaport contract\nFor other error reasons, see the response data.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/build": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Build a criteria offer",
        "description": "Build a portion of a criteria offer including the consideration item, zone, and zone hash needed to post an offer. For trait offers on supported collections, the identifierOrCriteria in the returned consideration will be '0' (no merkle root computation needed). For other collections, a computed merkle root is returned. When identifierOrCriteria is '0', the encodedTokenIds field is informational only and not required for constructing the onchain order.",
        "operationId": "build_offer_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildOfferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Criteria offer built successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildOfferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/nfts/batch": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Get NFTs by identifiers",
        "description": "Retrieve multiple NFTs in a single request by providing a list of identifiers (chain, contract address, and token ID). Not-found NFTs are silently omitted from the response.",
        "operationId": "get_nfts_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchNftsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NftBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/sweep": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Sweep buy items from a collection",
        "description": "Buy up to N items from a collection using any payment token, including cross-chain. If a requested item becomes unavailable, the system can automatically substitute it with the next cheapest listing from the same collection (enabled by default). Returns an ordered list of transactions to execute.",
        "operationId": "sweep_collection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SweepCollectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sweep fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SweepCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: collection not found, invalid chain, max_items exceeds limit, or no listings available.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SweepCollectionResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/fulfillment_data": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Fulfill a listing",
        "description": "Retrieve all the information, including signatures, needed to fulfill a listing directly onchain.",
        "operationId": "generate_listing_fulfillment_data_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullfillListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid\nThe order_hash does not exist\nThe chain is not an EVM Chain\nThe protocol_address is not a supported Seaport contract\nFor other error reasons, see the response data.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/cross_chain_fulfillment_data": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Fulfill a listing using a different token",
        "description": "Get fulfillment data to buy one or more listings using a token on a different chain or a different token on the same chain. Supports cross-chain purchases and same-chain token swaps via the Relay protocol. Returns an ordered list of transactions to execute.",
        "operationId": "generate_cross_chain_listing_fulfillment_data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrossChainFulfillmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Cross-chain fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CrossChainFulfillmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: listing not found, listing not valid, listing is not a listing order, or no fulfillment actions could be generated.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CrossChainFulfillmentResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/actions": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Get listing creation actions",
        "description": "Returns the blockchain actions (approvals + Seaport order signing payload) needed to list one or more NFTs. This eliminates the need to construct Seaport orders manually.",
        "operationId": "create_listing_actions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingActionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing creation actions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListingActionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: items on different chains, invalid addresses, items not found, invalid currency, or prices/quantities not positive.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListingActionsResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/{slug}/mint": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Build mint transaction data for a drop",
        "description": "Returns ready-to-sign transaction data for minting tokens from a drop. The caller is responsible for signing and submitting the transaction. No wallet authentication is required — only an API key. The minter address in the request body determines who will receive the tokens. Stage selection is handled automatically by the backend — if multiple stages are active, the first eligible stage is used.",
        "operationId": "build_drop_mint_transaction",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The collection slug identifying the drop",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "boredapeyachtclub"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropMintRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready-to-sign transaction data including target contract, calldata, and value",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropMintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: bad address format, invalid quantity, or missing required fields",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "description": "Drop or collection not found for the given slug",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "409": {
            "description": "Drop is not currently active for minting (not started, ended, or paused)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "422": {
            "description": "Minting precondition failed: wallet not in allowlist, mint limit exceeded, or supply exhausted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/deploy": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Build deploy contract transaction data",
        "description": "Returns ready-to-sign transaction data for deploying a new NFT drop contract. The caller is responsible for signing and submitting the transaction.",
        "operationId": "deploy_drop_contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready-to-sign transaction data for contract deployment",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropDeployResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: unsupported drop_type/token_type combination, bad address format, or missing required fields",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/collections/batch": {
      "post": {
        "tags": ["Collection Endpoints"],
        "summary": "Get collections by slugs",
        "description": "Retrieve multiple collections in a single request by providing a list of slugs. Results are returned in the same order as the input slugs. Not-found collections are silently omitted.",
        "operationId": "get_collections_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCollectionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/chain/{chain}/contract/{address}/nfts/{identifier}/validate-metadata": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Validate NFT metadata",
        "description": "Fetch and validate NFT metadata directly from the blockchain without using cached data. Returns both original and processed (SeaDN) URLs to show how the metadata would be ingested. This endpoint does not persist any data.",
        "operationId": "validate_nft_metadata",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which the NFT exists",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "description": "The contract address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "ignoreCachedItemUrls",
            "in": "query",
            "description": "Whether to bypass cached SeaDN URLs",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateMetadataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/chain/{chain}/contract/{address}/nfts/{identifier}/refresh": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Refresh NFT metadata",
        "description": "Queue a metadata refresh for a specific NFT to update its information from the blockchain.",
        "operationId": "refresh_nft_metadata",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "path",
            "description": "Blockchain chain identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Token identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreCachedItemUrls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/auth/keys": {
      "post": {
        "tags": ["Auth Endpoints"],
        "summary": "Create an instant API key",
        "description": "Creates a free-tier API key instantly without authentication. The key can be used immediately for all API endpoints. Rate limited to 2 keys per hour per IP. Keys expire after 30 days.",
        "operationId": "create_instant_api_key",
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InstantApiKeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "Key creation rate limit exceeded",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error (e.g. database failure)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "503": {
            "description": "Feature is currently disabled or temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/assets/transfer": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Transfer NFTs or tokens between wallets",
        "description": "Returns ordered blockchain actions to execute for transferring one or more NFTs or tokens from one wallet to another. Supports bulk transfers of multiple assets in a single request.",
        "operationId": "transfer_assets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transfer actions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: empty assets array, invalid addresses, invalid chain, or cross-ecosystem transfer.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/traits/{slug}": {
      "get": {
        "tags": ["Collection Endpoints"],
        "summary": "Get collection traits",
        "description": "Get all available traits for a collection with their value counts and data types.",
        "operationId": "get_collection_traits",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique identifier for the specific collection",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "doodles-official"
          }
        ],
        "responses": {
          "200": {
            "description": "Collection traits with categories and counts",
            "content": {
              "application/json": {
                "examples": {
                  "TraitsResponse": {
                    "description": "Example response showing both string and numeric trait types",
                    "value": {
                      "categories": {
                        "face": "string",
                        "background": "string",
                        "level": "number"
                      },
                      "counts": {
                        "face": {
                          "glasses": 4,
                          "sunglasses": 2
                        },
                        "background": {
                          "red": 6
                        },
                        "level": {
                          "min": 1,
                          "max": 99
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tools": {
      "get": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] List registered tools",
        "description": "[Beta] List verified registered tools with optional sorting and filtering. This endpoint is under active development and may change without notice.",
        "operationId": "list_tools",
        "parameters": [
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by: newest, oldest",
            "required": false,
            "schema": {
              "type": "string",
              "default": "newest"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by access type: open, nft_gated, token_gated, subscription, gated",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "cursor.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ToolListPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tools/{registry_chain}/{registry_addr}/{tool_id}": {
      "get": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] Get a registered tool",
        "description": "[Beta] Get a registered tool by its composite key: registry chain, registry address, and tool ID. Includes pricing recipients and NFT collection info for gated tools. This endpoint is under active development and may change without notice.",
        "operationId": "get_tool",
        "parameters": [
          {
            "name": "registry_chain",
            "in": "path",
            "description": "Registry chain ID (e.g. 1, 8453)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registry_addr",
            "in": "path",
            "description": "Registry contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tool_id",
            "in": "path",
            "description": "Numeric tool ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/RegisteredToolResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tools/search": {
      "get": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] Search registered tools",
        "description": "[Beta] Search for verified registered tools by name, tags, creator, or other criteria. This endpoint is under active development and may change without notice.",
        "operationId": "search_tools",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query text",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "registry_chain",
            "in": "query",
            "description": "Filter by registry chain ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "access_type",
            "in": "query",
            "description": "Filter by access type: open, nft_gated, subscription",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator",
            "in": "query",
            "description": "Filter by creator address",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by: relevance, newest, most_used",
            "required": false,
            "schema": {
              "type": "string",
              "default": "relevance"
            }
          },
          {
            "name": "include_details",
            "in": "query",
            "description": "Include pricing recipients and access requirements per result. Defaults to true; set false for a lighter list response.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "cursor.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ToolSearchPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tokens/trending": {
      "get": {
        "tags": ["Token Endpoints"],
        "summary": "Get trending tokens",
        "description": "Get trending tokens based on OpenSea's trending score algorithm. Returns tokens with high momentum including memecoins and newly popular assets.",
        "operationId": "get_trending_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filter by blockchain(s)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainIdentifier"
              }
            },
            "example": "ethereum"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tokens/top": {
      "get": {
        "tags": ["Token Endpoints"],
        "summary": "Get top tokens",
        "description": "Get top tokens ranked by 24-hour trading volume. Returns established tokens with high market activity.",
        "operationId": "get_top_tokens",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filter by blockchain(s)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainIdentifier"
              }
            },
            "example": "ethereum"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/token-groups": {
      "get": {
        "tags": ["Token Endpoints"],
        "summary": "Get token groups",
        "description": "Get a paginated list of token groups sorted by market cap descending. Token groups represent equivalent currencies across different blockchains (e.g., ETH on Ethereum, Base, and Arbitrum are all in the \"eth\" token group).",
        "operationId": "get_token_groups",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (default: 50, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenGroupPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/token-groups/{slug}": {
      "get": {
        "tags": ["Token Endpoints"],
        "summary": "Get a token group by slug",
        "description": "Get detailed information about a specific token group by its slug identifier.",
        "operationId": "get_token_group",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The slug identifier of the token group",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "eth"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenGroupResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/swap/quote": {
      "get": {
        "tags": ["Swap Endpoints"],
        "summary": "Get swap quote",
        "description": "Get a quote for swapping tokens, including price details and executable transaction data.",
        "operationId": "get_swap_quote",
        "parameters": [
          {
            "name": "from_chain",
            "in": "query",
            "description": "Chain of the token to swap from",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "from_address",
            "in": "query",
            "description": "Contract address of the token to swap from",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x0000000000000000000000000000000000000000"
          },
          {
            "name": "to_chain",
            "in": "query",
            "description": "Chain of the token to swap to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "to_address",
            "in": "query",
            "description": "Contract address of the token to swap to",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
          },
          {
            "name": "quantity",
            "in": "query",
            "description": "Amount to swap in the smallest unit of the token (e.g. wei for ETH)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1000000000000000000
          },
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address executing the swap",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          },
          {
            "name": "slippage",
            "in": "query",
            "description": "Slippage tolerance (0.0 to 0.5, default: 0.01)",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double",
              "default": 0.01
            },
            "example": 0.01
          },
          {
            "name": "recipient",
            "in": "query",
            "description": "Recipient address (defaults to sender address)",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "0x1234567890abcdef1234567890abcdef12345678"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwapQuoteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/search": {
      "get": {
        "tags": ["Search Endpoints"],
        "summary": "Search across OpenSea",
        "description": "Search across collections, tokens, NFTs, and accounts. Results are ranked by relevance.",
        "operationId": "search",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search query text",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bored ape"
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Filter by blockchain(s)",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainIdentifier"
              }
            }
          },
          {
            "name": "asset_types",
            "in": "query",
            "description": "Filter by asset type(s). Valid values: collection, nft, token, account. Defaults to [collection, token] if not specified.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (default: 20, max: 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/chain/{chain}/protocol/{protocol_address}/{order_hash}": {
      "get": {
        "tags": ["Order Endpoints"],
        "summary": "Get an order",
        "description": "Get a single order by its order hash.",
        "operationId": "get_order",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "Blockchain chain identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "protocol_address",
            "in": "path",
            "description": "Protocol contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_hash",
            "in": "path",
            "description": "Order hash",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GetOrderResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/collection/{slug}": {
      "get": {
        "tags": ["Offer Endpoints"],
        "summary": "Get offers by collection",
        "description": "Get collection offers on a collection.",
        "operationId": "get_offers_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/collection/{slug}/traits": {
      "get": {
        "tags": ["Offer Endpoints"],
        "summary": "Get trait offers for a collection",
        "description": "Get trait offers for a collection. Use the `mode` parameter to select the bid category.\n\n**Single string trait:** `?mode=STRING&type=Background&value=Red`\n**Multiple string traits:** `?mode=MULTI&traits=[{\"traitType\":\"Background\",\"value\":\"Red\"},{\"traitType\":\"Eyes\",\"value\":\"Blue\"}]`\n**Numeric trait range:** `?mode=NUMERIC&type=Level&min_value=1&max_value=10`\n\nOmit filter params to discover all bids of that mode (e.g. `?mode=NUMERIC` returns all numeric bids).\n\nIf `mode` is omitted, the mode is inferred from the params for backward compatibility.",
        "operationId": "get_offers_collection_trait",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Bid category: STRING (single string trait), MULTI (multiple string traits), or NUMERIC (numeric trait range). If omitted, inferred from params.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["STRING", "NUMERIC", "MULTI"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Trait type name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Trait value as string",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "float_value",
            "in": "query",
            "description": "Trait value as float",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "int_value",
            "in": "query",
            "description": "Trait value as integer",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "min_value",
            "in": "query",
            "description": "Minimum value for numeric trait range queries",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "max_value",
            "in": "query",
            "description": "Maximum value for numeric trait range queries",
            "required": false,
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "traits",
            "in": "query",
            "description": "JSON array of trait filters for multi-trait queries. Each element has 'traitType' and 'value' fields. Example: [{\"traitType\":\"Background\",\"value\":\"Red\"}]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": [
              {
                "traitType": "Background",
                "value": "Red"
              }
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/collection/{slug}/nfts/{identifier}": {
      "get": {
        "tags": ["Offer Endpoints"],
        "summary": "Get offers by NFT",
        "description": "Get offers for an NFT.",
        "operationId": "get_offers_nft",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/collection/{slug}/nfts/{identifier}/best": {
      "get": {
        "tags": ["Offer Endpoints"],
        "summary": "Get best offer by NFT",
        "description": "Get the best offer for an NFT.",
        "operationId": "get_best_offer_nft",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/collection/{slug}/all": {
      "get": {
        "tags": ["Offer Endpoints"],
        "summary": "Get all offers by collection",
        "description": "Get all offers for a collection.",
        "operationId": "list_offers_collection_all",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maker",
            "in": "query",
            "description": "Filter by the wallet address of the order maker",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/OffersResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/metadata/{chain}/{contractAddress}/{tokenId}": {
      "get": {
        "tags": ["NFT Endpoints"],
        "summary": "Get NFT metadata",
        "description": "Get detailed metadata for an NFT including name, description, image, traits, and external links.",
        "operationId": "get_nft_metadata",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "contractAddress",
            "in": "path",
            "description": "The unique public blockchain identifier for the contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8ba1f109551bD432803012645Hac136c94C19D6e"
          },
          {
            "name": "tokenId",
            "in": "path",
            "description": "The NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetMetadataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/collection/{slug}/nfts/{identifier}/best": {
      "get": {
        "tags": ["Listing Endpoints"],
        "summary": "Get best listing by NFT",
        "description": "Get the best listing for an NFT.",
        "operationId": "get_best_listing_nft",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_private_listings",
            "in": "query",
            "description": "Whether to include private listings; defaults to false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/collection/{slug}/best": {
      "get": {
        "tags": ["Listing Endpoints"],
        "summary": "Get best listings by collection",
        "description": "Get the best listings for a collection sorted by price ascending. Optionally filter by item traits using the 'traits' query parameter with a JSON array of trait filters. Multiple traits are AND-combined (items must match all). Note: results are not deduplicated by token ID — if a token has multiple listings, each listing is returned individually. Filter client-side if you need unique tokens. Example: ?traits=[{\"traitType\":\"Background\",\"value\":\"Red\"}]",
        "operationId": "get_best_listings_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_private_listings",
            "in": "query",
            "description": "Whether to include private listings; defaults to false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "traits",
            "in": "query",
            "description": "JSON array of trait filters to narrow listings by item traits. Each object has 'traitType' and 'value' fields. Multiple traits are AND-combined (items must match all). Example: [{\"traitType\":\"Background\",\"value\":\"Red\"}]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": [
              {
                "traitType": "Background",
                "value": "Red"
              }
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/collection/{slug}/all": {
      "get": {
        "tags": ["Listing Endpoints"],
        "summary": "Get all listings by collection",
        "description": "Get all listings for a collection.",
        "operationId": "list_listings_collection_all",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique string to identify a collection on OpenSea",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_private_listings",
            "in": "query",
            "description": "Whether to include private listings; defaults to false",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "maker",
            "in": "query",
            "description": "Filter by the wallet address of the order maker",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/events": {
      "get": {
        "tags": ["Analytics Endpoints"],
        "summary": "Get events",
        "description": "Get a list of events, with optional filtering by event type and time range.",
        "operationId": "list_events",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "description": "Only show events after this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show events before this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event types. To get order invalidation and revalidation events, please use the Stream API. The order status can also be checked on the Get Order endpoint.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sale",
                  "transfer",
                  "mint",
                  "listing",
                  "offer",
                  "trait_offer",
                  "collection_offer"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/events/collection/{slug}": {
      "get": {
        "tags": ["Analytics Endpoints"],
        "summary": "Get events (by collection)",
        "description": "Get a list of events for a collection. Optionally filter by traits to only return events for items matching the specified trait criteria.",
        "operationId": "list_events_by_collection",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Unique identifier for the collection",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "doodles-official"
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show events after this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show events before this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event types. To get order invalidation and revalidation events, please use the Stream API. The order status can also be checked on the Get Order endpoint.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sale",
                  "transfer",
                  "mint",
                  "listing",
                  "offer",
                  "trait_offer",
                  "collection_offer"
                ]
              }
            }
          },
          {
            "name": "traits",
            "in": "query",
            "description": "JSON array of trait filters. Each object has 'traitType' and 'value' fields. Multiple traits are AND-combined (items must match all). Example: [{\"traitType\":\"Background\",\"value\":\"Red\"}]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": [
              {
                "traitType": "Background",
                "value": "Red"
              }
            ]
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/events/chain/{chain}/contract/{address}/nfts/{identifier}": {
      "get": {
        "tags": ["Analytics Endpoints"],
        "summary": "Get events (by NFT)",
        "description": "Get a list of events for a specific NFT.",
        "operationId": "list_events_by_nft",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "description": "The unique public blockchain identifier for the contract",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8ba1f109551bD432803012645Hac136c94C19D6e"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show events after this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show events before this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event types. To get order invalidation and revalidation events, please use the Stream API. The order status can also be checked on the Get Order endpoint.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sale",
                  "transfer",
                  "mint",
                  "listing",
                  "offer",
                  "trait_offer",
                  "collection_offer"
                ]
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/events/accounts/{address}": {
      "get": {
        "tags": ["Analytics Endpoints"],
        "summary": "Get events (by account)",
        "description": "Get a list of events for an account.",
        "operationId": "list_events_by_account",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "The blockchain address of the account",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8ba1f109551bD432803012645Hac136c94C19D6e"
          },
          {
            "name": "after",
            "in": "query",
            "description": "Only show events after this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "Only show events before this timestamp (Unix timestamp in seconds)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter by event types. To get order invalidation and revalidation events, please use the Stream API. The order status can also be checked on the Get Order endpoint.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "sale",
                  "transfer",
                  "mint",
                  "listing",
                  "offer",
                  "trait_offer",
                  "collection_offer"
                ]
              }
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Filter by blockchain",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AssetEventsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops": {
      "get": {
        "tags": ["Drops Endpoints"],
        "summary": "Get drops",
        "description": "Get a list of NFT drops (mints) by type: featured, upcoming, or recently_minted. Results may be fewer than the requested limit due to post-fetch filtering.",
        "operationId": "get_drops",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Drop calendar type: featured, upcoming, or recently_minted",
            "required": false,
            "schema": {
              "type": "string",
              "default": "featured"
            },
            "example": "featured"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return (1-100, default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            },
            "example": 20
          },
          {
            "name": "chains",
            "in": "query",
            "description": "Comma-separated list of chains to filter by (e.g. ethereum, base). Omit to return drops on all chains.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ChainIdentifier"
              }
            },
            "example": "ethereum,base"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for next page",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of drops",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/{slug}": {
      "get": {
        "tags": ["Drops Endpoints"],
        "summary": "Get drop by collection slug",
        "description": "Get detailed drop information for a collection, including stages and supply.",
        "operationId": "get_drop_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed drop information",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropDetailedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/deploy/{chain}/{tx_hash}/receipt": {
      "get": {
        "tags": ["Drops Endpoints"],
        "summary": "Get deploy contract receipt",
        "description": "Check the status of a contract deployment transaction. Returns the deployment status and, on success, the deployed contract address and linked collection slug.",
        "operationId": "get_deploy_contract_receipt",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "Chain slug (e.g. ethereum, base)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "ethereum"
          },
          {
            "name": "tx_hash",
            "in": "path",
            "description": "Transaction hash of the deployment transaction",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xabc123..."
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment receipt status",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropDeployReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/collections": {
      "get": {
        "tags": ["Collection Endpoints"],
        "summary": "Get multiple collections",
        "description": "Get a list of collections with filters and sorting options.",
        "operationId": "list_collections",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "next.value",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "query",
            "description": "Blockchain to filter by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creator_username",
            "in": "query",
            "description": "Username of collection creator to filter by",
[...]
