{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenSea API",
    "description": "The API for OpenSea",
    "contact": {
      "name": "OpenSea",
      "url": "https://www.opensea.io",
      "email": "contact@opensea.io"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.opensea.io",
      "description": "OpenSea API server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chain Endpoints",
      "description": "Chain endpoints to discover supported blockchains and their capabilities"
    },
    {
      "name": "Account Endpoints",
      "description": "Account endpoints to retrieve OpenSea account profiles and resolve identifiers"
    },
    {
      "name": "Collection Endpoints",
      "description": "Collection endpoints to retrieve collection details, traits, and trending data"
    },
    {
      "name": "NFT Endpoints",
      "description": "NFT endpoints to retrieve individual NFTs, metadata, ownership, and rarity"
    },
    {
      "name": "Contract Endpoints",
      "description": "Contract endpoints to retrieve contract metadata and payment token details"
    },
    {
      "name": "Token Endpoints",
      "description": "Token endpoints for getting token details, balances, and trending data"
    },
    {
      "name": "Search Endpoints",
      "description": "Search endpoints for discovering collections, tokens, NFTs, and accounts"
    },
    {
      "name": "Listing Endpoints",
      "description": "Listing endpoints for creating, fulfilling, and querying listings"
    },
    {
      "name": "Offer Endpoints",
      "description": "Offer endpoints for building, creating, fulfilling, and querying offers"
    },
    {
      "name": "Order Endpoints",
      "description": "Order endpoints for looking up and canceling individual orders"
    },
    {
      "name": "Swap Endpoints",
      "description": "Swap endpoints for getting token swap quotes with executable transaction data"
    },
    {
      "name": "Drops Endpoints",
      "description": "Endpoints for discovering drops, checking mint eligibility, and building mint transactions"
    },
    {
      "name": "Analytics Endpoints",
      "description": "Analytics endpoints to retrieve events, stats, and trading data"
    },
    {
      "name": "Tool Endpoints [Beta]",
      "description": "[Beta] Tool endpoints for discovering and inspecting registered onchain tools. This API is under active development and may change without notice."
    },
    {
      "name": "Transaction Endpoints",
      "description": "Transaction endpoints for checking transaction receipts and status"
    }
  ],
  "paths": {
    "/api/v2/drops/{slug}/items/{token_id}": {
      "put": {
        "tags": ["Drops Endpoints"],
        "summary": "Build transaction data for updating a SelfMint drop item",
        "description": "Returns ready-to-sign onchain transaction data for updating a SelfMint drop item. The caller is responsible for signing and broadcasting the transaction.",
        "operationId": "update_self_mint_drop_item",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "Drop item token id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSelfMintDropItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready-to-sign transaction data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SelfMintDropItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SelfMintDropItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      },
      "patch": {
        "tags": ["Drops Endpoints"],
        "summary": "Update drop item",
        "description": "Update drop item metadata.",
        "operationId": "update_drop_item",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "Drop item token id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 123
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDropItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Drop item updated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropItemResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/accounts/wallets/{wallet}/private": {
      "put": {
        "tags": ["Account Endpoints"],
        "summary": "Make a registered wallet private",
        "description": "Hides the wallet's public account linkage, including agent ownership relationships.",
        "operationId": "make_wallet_private",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletVisibilityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:wallets"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:wallets"]
      },
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Make a registered wallet public",
        "description": "Allows the wallet's public account linkage, including eligible agent ownership relationships.",
        "operationId": "make_wallet_public",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletVisibilityResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:wallets"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:wallets"]
      }
    },
    "/api/v2/accounts/wallets/{wallet}/agent": {
      "put": {
        "tags": ["Account Endpoints"],
        "summary": "Mark a registered wallet as an agent wallet",
        "operationId": "mark_wallet_as_agent",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAgentStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:wallets"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:wallets"]
      },
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Remove a registered wallet's agent designation",
        "operationId": "remove_wallet_agent_designation",
        "parameters": [
          {
            "name": "wallet",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletAgentStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:wallets"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:wallets"]
      }
    },
    "/api/v2/watchlist": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Add a watchlist entry",
        "description": "Add an NFT, token, collection, or perpetual to the authenticated account's watchlist.",
        "operationId": "add_watchlist_entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Watchlist entry added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:favorites"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:favorites"]
      },
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Remove a watchlist entry",
        "description": "Remove an NFT, token, collection, or perpetual from the authenticated account's watchlist.",
        "operationId": "remove_watchlist_entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WatchlistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Watchlist entry removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FavoriteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:favorites"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:favorites"]
      }
    },
    "/api/v2/transactions/receipt": {
      "post": {
        "tags": ["Transaction Endpoints"],
        "summary": "Get transaction receipt",
        "description": "Get the receipt/status for a submitted transaction. Works for all transaction types including listing fulfillments, cross-chain buys, sweeps, offer fulfillments, and token swaps. Poll this endpoint after submitting transactions to check completion status.",
        "operationId": "get_transaction_receipt",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionReceiptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transaction receipt retrieved",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReceiptResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tools/usage": {
      "post": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] Report tool usage (metrics only)",
        "description": "[Beta] Report verified tool usage for metrics and analytics purposes only. Supports verification_type: eip3009_authorization (free tools, identity proof) or x402_settlement (paid tools, onchain USDC payment verification). Identify the tool by providing tool_chain_id + tool_registry_address (an onchain EVM address, or x402_bazaar / x402_bankr for x402 tools) + tool_onchain_id, or alternatively just tool_endpoint (the tool's canonical URL). This endpoint does NOT trigger any onchain transactions. This endpoint is under active development and may change without notice.",
        "operationId": "report_tool_usage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolUsageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ToolUsageResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/tokens/batch": {
      "post": {
        "tags": ["Token Endpoints"],
        "summary": "Get tokens by contract identifiers",
        "description": "Retrieve multiple tokens in a single request by providing a list of contract identifiers (chain and address). Not-found tokens are silently omitted from the response.",
        "operationId": "get_tokens_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTokensRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/swap/execute": {
      "post": {
        "tags": ["Swap Endpoints"],
        "summary": "Execute a token swap",
        "description": "Get executable transactions for token-to-token swaps. Supports same-chain and cross-chain swaps with multiple from/to assets.",
        "operationId": "post_swap_execute",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SwapExecuteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Swap execution data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SwapExecuteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/saved-tools": {
      "get": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] List saved tools",
        "description": "List tools saved by the authenticated account.",
        "operationId": "list_saved_tools",
        "parameters": [
          {
            "name": "toolkit_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "minLength": 0,
              "pattern": "(?s).*\\S.*"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return per page",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "description": "Number of items to return per page",
              "example": 20,
              "maximum": 200,
              "minimum": 1
            },
            "example": 20
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved tools returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedToolsPaginatedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["read:tools"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["read:tools"]
      },
      "post": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] Save a tool",
        "description": "Save a registered tool for the authenticated account.",
        "operationId": "save_tool",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavedToolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Tool saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedToolResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:tools"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:tools"]
      },
      "delete": {
        "tags": ["Tool Endpoints [Beta]"],
        "summary": "[Beta] Remove a saved tool",
        "description": "Idempotently remove a registered tool from the authenticated account's saved tools. Removed is false when the tool was already absent.",
        "operationId": "unsave_tool",
        "parameters": [
          {
            "name": "tool_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "registry_chain",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "registry_addr",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "toolkit_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 255,
              "minLength": 0,
              "pattern": "(?s).*\\S.*"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Saved-tool removal result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavedToolActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:tools"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:tools"]
      }
    },
    "/api/v2/profile/username": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Claim a profile username",
        "description": "Claim a username for the authenticated wallet.",
        "operationId": "claim_profile_username",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimAccountUsernameRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Username claimed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimAccountUsernameResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      }
    },
    "/api/v2/profile/shelves": {
      "get": {
        "tags": ["Account Endpoints"],
        "summary": "Get profile shelves",
        "description": "Get the shelves for a public wallet address.",
        "operationId": "get_profile_shelves",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address to retrieve shelves for",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x8ba1f109551bd432803012645ac136c94c19d6e"
          }
        ],
        "responses": {
          "200": {
            "description": "Shelves retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProfileShelfResponse"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyAuth": [],
            "WalletAuth": []
          }
        ],
        "x-opensea-auth-required": false,
        "x-opensea-auth-scopes": []
      },
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Create a profile shelf",
        "description": "Create a shelf for the authenticated wallet.",
        "operationId": "create_profile_shelf",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProfileShelfRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shelf created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileShelfResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      },
      "patch": {
        "tags": ["Account Endpoints"],
        "summary": "Reorder profile shelves",
        "description": "Reorder the authenticated wallet's shelves.",
        "operationId": "reorder_profile_shelves",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderProfileShelvesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shelves reordered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileShelfActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      }
    },
    "/api/v2/profile/nft-pfp": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Set NFT profile picture",
        "description": "Set an onchain NFT owned by the authenticated wallet as its verified profile picture. The NFT must be from a verified collection and owned by one of the account's wallets.",
        "operationId": "set_profile_nft_pfp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetNftPfpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "NFT profile picture set successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftPfpResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      },
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Clear NFT profile picture",
        "description": "Clear the authenticated wallet's NFT profile picture. This operation is idempotent: it returns 200 with `success=false` when no NFT profile picture was set, and `success=true` when one was cleared.",
        "operationId": "clear_profile_nft_pfp",
        "responses": {
          "200": {
            "description": "NFT profile picture cleared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearNftPfpResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      }
    },
    "/api/v2/profile/images": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Upload a profile image",
        "description": "Set contentType in the context request to the exact MIME type of the image bytes. This response starts a three-step upload flow. First, request this context from OpenSea. Second, call the returned method at the returned URL. For POST, add every fields entry unchanged as a multipart text field, then add a file part containing the bytes. The file part must be last. Let the HTTP library generate the multipart boundary; do not set the overall multipart Content-Type header yourself. POST storage uploads normally return 204. For PUT, upload the raw bytes, use only headers explicitly required by the endpoint, and expect 200. Treat any 2xx storage response as success. The URL and fields are short-lived sensitive credentials. Do not log, persist, alter, or put them in tickets. Third, after storage succeeds, pass the returned token to the documented OpenSea API endpoint. Do not use the token before the storage upload succeeds. Pass the token as the matching profile image field in PATCH /api/v2/profile.",
        "operationId": "upload_profile_image",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadProfileImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload context returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      }
    },
    "/api/v2/orders/{chain}/{protocol}/offers": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Create an item offer",
        "description": "Create an offer to purchase a single NFT (ERC721 or ERC1155).",
        "operationId": "post_offer",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeaportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Item offer created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/{chain}/{protocol}/listings": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Create a listing",
        "description": "List a single NFT (ERC721 or ERC1155) for sale on the OpenSea marketplace.",
        "operationId": "post_listing",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "protocol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SeaportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/orders/chain/{chain}/protocol/{protocol_address}/{order_hash}/cancel": {
      "post": {
        "tags": ["Order Endpoints"],
        "summary": "Cancel an order",
        "description": "Offchain cancel a single order, offer or listing, by its order hash when protected by the SignedZone. Protocol and Chain are required to prevent hash collisions. Please note cancellation is only assured if a fulfillment signature was not vended prior to cancellation.",
        "operationId": "cancel_order",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "protocol_address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Api-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:orders"]
          }
        ],
        "x-opensea-auth-required": false,
        "x-opensea-auth-scopes": ["write:orders"]
      }
    },
    "/api/v2/offers": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Create a criteria offer",
        "description": "Create a criteria offer to purchase any NFT in a collection or which matches the specified trait. For trait offers where the Build Offer endpoint returns identifierOrCriteria '0', use that value directly — trait matching is validated server-side at fulfillment time rather than via onchain merkle proof.",
        "operationId": "post_criteria_offer_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfferWithCriteriaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Criteria offer created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/fulfillment_data": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Fulfill an offer",
        "description": "Retrieve all the information, including signatures, needed to fulfill an offer directly onchain. For trait offers with identifierOrCriteria '0', the server validates that the specified token matches the offer's trait criteria before generating fulfillment data.",
        "operationId": "generate_offer_fulfillment_data_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullfillmentDataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Offer fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid\nThe order_hash does not exist\nThe chain is not an EVM Chain\nThe protocol_address is not a supported Seaport contract\nFor other error reasons, see the response data.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/offers/build": {
      "post": {
        "tags": ["Offer Endpoints"],
        "summary": "Build a criteria offer",
        "description": "Build a portion of a criteria offer including the consideration item, zone, and zone hash needed to post an offer. For trait offers on supported collections, the identifierOrCriteria in the returned consideration will be '0' (no merkle root computation needed). For other collections, a computed merkle root is returned. When identifierOrCriteria is '0', the encodedTokenIds field is informational only and not required for constructing the onchain order.",
        "operationId": "build_offer_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuildOfferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Criteria offer built successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BuildOfferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/nfts/batch": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Get NFTs by identifiers",
        "description": "Retrieve multiple NFTs in a single request by providing a list of identifiers (chain, contract address, and token ID). Not-found NFTs are silently omitted from the response.",
        "operationId": "get_nfts_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchNftsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NftBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/sweep": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Sweep buy items from a collection",
        "description": "Buy up to N items from a collection using any payment token, including cross-chain. If a requested item becomes unavailable, the system can automatically substitute it with the next cheapest listing from the same collection (enabled by default). Returns an ordered list of transactions to execute.",
        "operationId": "sweep_collection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SweepCollectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sweep fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SweepCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: collection not found, invalid chain, max_items exceeds limit, or no listings available.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SweepCollectionResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/fulfillment_data": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Fulfill a listing",
        "description": "Retrieve all the information, including signatures, needed to fulfill a listing directly onchain.",
        "operationId": "generate_listing_fulfillment_data_v2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FullfillListingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid\nThe order_hash does not exist\nThe chain is not an EVM Chain\nThe protocol_address is not a supported Seaport contract\nFor other error reasons, see the response data.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FulfillListingResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/cross_chain_fulfillment_data": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Fulfill a listing using a different token",
        "description": "Get fulfillment data to buy one or more listings using a token on a different chain or a different token on the same chain. Supports cross-chain purchases and same-chain token swaps via the Relay protocol. Returns an ordered list of transactions to execute.",
        "operationId": "generate_cross_chain_listing_fulfillment_data",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrossChainFulfillmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Cross-chain fulfillment data retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CrossChainFulfillmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: listing not found, listing not valid, listing is not a listing order, or no fulfillment actions could be generated.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CrossChainFulfillmentResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/listings/actions": {
      "post": {
        "tags": ["Listing Endpoints"],
        "summary": "Get listing creation actions",
        "description": "Returns the blockchain actions (approvals + Seaport order signing payload) needed to list one or more NFTs. This eliminates the need to construct Seaport orders manually.",
        "operationId": "create_listing_actions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListingActionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Listing creation actions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListingActionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: items on different chains, invalid addresses, items not found, invalid currency, or prices/quantities not positive.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CreateListingActionsResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/{slug}": {
      "get": {
        "tags": ["Drops Endpoints"],
        "summary": "Get drop by collection slug",
        "description": "Get detailed drop information for a collection, including stages and supply.",
        "operationId": "get_drop_by_slug",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed drop information",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropDetailedResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Update Creator Studio drop edits",
        "description": "Update an existing ERC-721 SeaDrop V1 drop and its stages.",
        "operationId": "save_drop_edits",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The collection slug identifying the drop to update",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveDropEditsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Drop edits saved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SaveDropResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SaveDropResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/{slug}/prereveal-item": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Save prereveal drop item",
        "description": "Save prereveal drop item metadata.",
        "operationId": "save_prereveal_drop_item",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavePrerevealDropItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Prereveal drop item saved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrerevealDropItemResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PrerevealDropItemResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/{slug}/mint": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Build mint transaction data for a drop",
        "description": "Returns ready-to-sign transaction data for minting tokens from a drop. The caller is responsible for signing and submitting the transaction. No wallet authentication is required — only an API key. The minter address in the request body determines who will receive the tokens. Stage selection is handled automatically by the backend — if multiple stages are active, the first eligible stage is used.",
        "operationId": "build_drop_mint_transaction",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The collection slug identifying the drop",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "boredapeyachtclub"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropMintRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready-to-sign transaction data including target contract, calldata, and value",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropMintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: bad address format, invalid quantity, or missing required fields",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "description": "Drop or collection not found for the given slug",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "409": {
            "description": "Drop is not currently active for minting (not started, ended, or paused)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "422": {
            "description": "Minting precondition failed: insufficient native balance, wallet not in allowlist, mint limit exceeded, or supply exhausted",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/{slug}/items": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Build transaction data for creating a SelfMint drop item",
        "description": "Returns ready-to-sign onchain transaction data for creating a SelfMint drop item. The caller is responsible for signing and broadcasting the transaction.",
        "operationId": "save_self_mint_drop_item",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveSelfMintDropItemRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready-to-sign transaction data",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SelfMintDropItemResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SelfMintDropItemResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/{slug}/items/media": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Upload drop item media",
        "description": "This response starts a three-step upload flow. First, request this context from OpenSea. Second, call the returned method at the returned URL. For POST, add every fields entry unchanged as a multipart text field, then add a file part containing the bytes. The file part must be last. Let the HTTP library generate the multipart boundary; do not set the overall multipart Content-Type header yourself. POST storage uploads normally return 204. For PUT, upload the raw bytes, use only headers explicitly required by the endpoint, and expect 200. Treat any 2xx storage response as success. The URL and fields are short-lived sensitive credentials. Do not log, persist, alter, or put them in tickets. Third, after storage succeeds, pass the returned token to the documented OpenSea API endpoint. Do not use the token before the storage upload succeeds. Pass each token as media_token to POST /api/v2/drops/{slug}/items or POST /api/v2/drops/{slug}/prereveal-item, as media_tokens to POST /api/v2/drops/{slug}/items/media/save, or as media_token to PUT /api/v2/drops/{slug}/items/{token_id}.",
        "operationId": "upload_drop_item_media",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadDropItemMediaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload contexts generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadContext"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadContext"
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/{slug}/items/media/save": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Save drop item media",
        "description": "Persist drop item media references.",
        "operationId": "save_drop_item_media",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveDropItemMediaRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Drop item media saved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SaveDropItemMediaResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SaveDropItemMediaResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/{slug}/cross_chain_mint": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Build cross-chain mint transactions for a drop",
        "description": "Returns an ordered list of transactions for minting a drop using a token on another chain. The payer signs each transaction in order, and the minter receives the NFT. After submission, pass receipt_request to POST /api/v2/transactions/receipt and poll until the status is terminal.",
        "operationId": "build_cross_chain_drop_mint_transactions",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "The collection slug identifying the drop",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "boredapeyachtclub"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CrossChainDropMintRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ordered transactions required to complete the mint",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CrossChainDropMintResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid address, payment chain, payment token, quantity, or request body",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "404": {
            "description": "Drop or collection not found for the given slug",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "409": {
            "description": "Drop is not currently active for minting",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "422": {
            "description": "Minting precondition failed, including an ineligible wallet, exhausted supply, insufficient balance, or a payer that is not allowed for the active presale",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/drops/{slug}/allowlist": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Upload drop allowlist",
        "description": "This response starts a three-step upload flow. First, request this context from OpenSea. Second, call the returned method at the returned URL. For POST, add every fields entry unchanged as a multipart text field, then add a file part containing the bytes. The file part must be last. Let the HTTP library generate the multipart boundary; do not set the overall multipart Content-Type header yourself. POST storage uploads normally return 204. For PUT, upload the raw bytes, use only headers explicitly required by the endpoint, and expect 200. Treat any 2xx storage response as success. The URL and fields are short-lived sensitive credentials. Do not log, persist, alter, or put them in tickets. Third, after storage succeeds, pass the returned token to the documented OpenSea API endpoint. Do not use the token before the storage upload succeeds. Pass the token as allowlist_file_token to POST /api/v2/drops/{slug}/allowlist/validate.",
        "operationId": "upload_drop_allowlist",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload context generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UploadContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UploadContext"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/{slug}/allowlist/validate": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Validate drop allowlist",
        "description": "Validate an uploaded drop allowlist file token.",
        "operationId": "validate_drop_allowlist",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "cool-cats"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateDropAllowlistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validated file token",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateDropAllowlistResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateDropAllowlistResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:drops"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:drops"]
      }
    },
    "/api/v2/drops/deploy": {
      "post": {
        "tags": ["Drops Endpoints"],
        "summary": "Build deploy contract transaction data",
        "description": "Returns ready-to-sign transaction data for deploying a new NFT drop contract. The caller is responsible for signing and submitting the transaction.",
        "operationId": "deploy_drop_contract",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DropDeployRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Ready-to-sign transaction data for contract deployment",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DropDeployResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: unsupported drop_type/token_type combination, bad address format, or missing required fields",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/collections/{slug}/images/{image_type}": {
      "post": {
        "tags": ["Collection Endpoints"],
        "summary": "Upload collection image",
        "description": "Set the content_type query parameter to the exact MIME type of the image bytes. This response starts a three-step upload flow. First, request this context from OpenSea. Second, call the returned method at the returned URL. For POST, add every fields entry unchanged as a multipart text field, then add a file part containing the bytes. The file part must be last. Let the HTTP library generate the multipart boundary; do not set the overall multipart Content-Type header yourself. POST storage uploads normally return 204. For PUT, upload the raw bytes, use only headers explicitly required by the endpoint, and expect 200. Treat any 2xx storage response as success. The URL and fields are short-lived sensitive credentials. Do not log, persist, alter, or put them in tickets. Third, after storage succeeds, pass the returned token to the documented OpenSea API endpoint. Do not use the token before the storage upload succeeds. Pass the token as the matching image field in PATCH /api/v2/collections/{slug}.",
        "operationId": "upload_collection_image",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "Collection slug",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "boredapeyachtclub"
          },
          {
            "name": "image_type",
            "in": "path",
            "description": "Image type",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "profile_picture"
          },
          {
            "name": "content_type",
            "in": "query",
            "description": "Exact MIME type of the image bytes",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "image/png"
          }
        ],
        "responses": {
          "200": {
            "description": "Upload context generated successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UploadContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UploadContext"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:collections"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:collections"]
      }
    },
    "/api/v2/collections/batch": {
      "post": {
        "tags": ["Collection Endpoints"],
        "summary": "Get collections by slugs",
        "description": "Retrieve multiple collections in a single request by providing a list of slugs. Results are returned in the same order as the input slugs. Not-found collections are silently omitted.",
        "operationId": "get_collections_batch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCollectionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionBatchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/chain/{chain}/contract/{address}/nfts/{identifier}/validate-metadata": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Validate NFT metadata",
        "description": "Fetch and validate NFT metadata directly from the blockchain without using cached data. Returns both original and processed (SeaDN) URLs to show how the metadata would be ingested. This endpoint does not persist any data.",
        "operationId": "validate_nft_metadata",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "address",
            "in": "path",
            "description": "The contract address",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "The NFT token id",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": 1
          },
          {
            "name": "ignoreCachedItemUrls",
            "in": "query",
            "description": "Whether to bypass cached SeaDN URLs",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateMetadataResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/chain/{chain}/contract/{address}/nfts/{identifier}/refresh": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Refresh NFT metadata",
        "description": "Queue a metadata refresh for a specific NFT to update its information from the blockchain.",
        "operationId": "refresh_nft_metadata",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "description": "Contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chain",
            "in": "path",
            "description": "The blockchain on which to filter the results",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ChainIdentifier"
            },
            "example": "ethereum"
          },
          {
            "name": "identifier",
            "in": "path",
            "description": "Token identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ignoreCachedItemUrls",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/auth/keys": {
      "post": {
        "tags": ["Auth Endpoints"],
        "summary": "Create an instant API key",
        "description": "Creates a free-tier API key instantly without authentication. The key can be used immediately for all API endpoints. Rate limited to 2 keys per hour per IP. Keys expire after 30 days.",
        "operationId": "create_instant_api_key",
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/InstantApiKeyResponse"
                }
              }
            }
          },
          "429": {
            "description": "Key creation rate limit exceeded",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error (e.g. database failure)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          },
          "503": {
            "description": "Feature is currently disabled or temporarily unavailable",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/V1ErrorWrapper"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/assets/transfer": {
      "post": {
        "tags": ["NFT Endpoints"],
        "summary": "Transfer NFTs or tokens between wallets",
        "description": "Returns ordered blockchain actions to execute for transferring one or more NFTs or tokens from one wallet to another. Supports bulk transfers of multiple assets in a single request.",
        "operationId": "transfer_assets",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Transfer actions retrieved successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid. Possible reasons: empty assets array, invalid addresses, invalid chain, or cross-ecosystem transfer.",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TransferResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/v2/accounts/{address_or_username}/watch": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Watch a followed profile",
        "operationId": "watch_account",
        "parameters": [
          {
            "name": "address_or_username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256,
              "minLength": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSocialMutationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:social"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:social"]
      },
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Stop watching a profile",
        "operationId": "unwatch_account",
        "parameters": [
          {
            "name": "address_or_username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256,
              "minLength": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSocialMutationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:social"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:social"]
      }
    },
    "/api/v2/accounts/{address_or_username}/follow": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Follow a profile",
        "operationId": "follow_account",
        "parameters": [
          {
            "name": "address_or_username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256,
              "minLength": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSocialMutationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:social"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:social"]
      },
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Unfollow a profile",
        "operationId": "unfollow_account",
        "parameters": [
          {
            "name": "address_or_username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 256,
              "minLength": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileSocialMutationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:social"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:social"]
      }
    },
    "/api/v2/accounts/wallets/siwx": {
      "post": {
        "tags": ["Account Endpoints"],
        "summary": "Link a wallet to the authenticated account",
        "description": "Verify control of a wallet using a SIWX signature and link it to the authenticated account.",
        "operationId": "link_wallet_with_siwx",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LinkWalletSiwxRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Wallet linked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletLinkResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WalletLinkResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:wallets"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:wallets"]
      }
    },
    "/api/v2/profile": {
      "patch": {
        "tags": ["Account Endpoints"],
        "summary": "Update profile settings",
        "description": "Update the authenticated wallet's profile settings.",
        "operationId": "update_profile_settings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Profile settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProfileSettingsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      }
    },
    "/api/v2/profile/shelves/{shelf_id}": {
      "delete": {
        "tags": ["Account Endpoints"],
        "summary": "Delete a profile shelf",
        "description": "Delete the authenticated wallet's shelf.",
        "operationId": "delete_profile_shelf",
        "parameters": [
          {
            "name": "shelf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Shelf deleted successfully",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileShelfActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      },
      "patch": {
        "tags": ["Account Endpoints"],
        "summary": "Update a profile shelf",
        "description": "Update shelf fields and optionally item descriptions. Shelf field updates are applied first; if a later item description update fails, earlier changes are not rolled back.",
        "operationId": "update_profile_shelf",
        "parameters": [
          {
            "name": "shelf_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProfileShelfRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Shelf updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileShelfResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": [
          {
            "ApiKeyAuth": [],
            "WalletAuth": ["write:profile"]
          }
        ],
        "x-opensea-auth-required": true,
        "x-opensea-auth-scopes": ["write:profile"]
      }
    },
    "/api/v2/collections/{slug}": {
      "get": {
        "tags": ["Collection Endpoints"],
        "summary": "Get a single collection",
        "description": "Get a single collection including details such as fees, traits, and links.",
        "operationId": "get_collection",
        "parameters": [
          {
            "name": "slug",
[...]
